/* Only for Reference */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

p {
    margin: 0;
  }
  
  .clip-contents {
    overflow: hidden;
  }
  
  .flex-col-hstart-vstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
  .flex-hcenter {
    justify-content: center;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .iphone-13-pro-max4 {
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 191, 166, 1);
    width: 428px;
    height: 926px;
  }
  
  .group-816 {
    position: absolute;
    top: -36px;
    none: 0px;
    padding: 70px 119px 148px 117px;
    box-sizing: border-box;
    border-radius: 131.5px;
    background-color: rgba(40, 101, 94, 1);
    width: 263px;
    height: 235px;
  }
  
  .vector {
    width: 25px;
    height: 100%;
  }
  
  .ellipse-8 {
    position: absolute;
    top: 747px;
    left: 252px;
    background-color: rgba(40, 101, 94, 1);
    width: 263px;
    height: 235px;
    border-radius: 131.5px;
  }
  
  .group-1107 {
    position: absolute;
    top: 84px;
    none: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    width: 348px;
    height: 778px;
  }
  
  .rectangle-13 {
    position: absolute;
    top: 171px;
    left: 33px;
    background-color: rgba(214, 243, 245, 1);
    width: 278px;
    height: 61px;
    border-radius: 5px;
  }
  
  .rectangle-11 {
    position: absolute;
    top: 397px;
    left: 33px;
    background-color: rgba(214, 243, 245, 1);
    width: 278px;
    height: 61px;
    border-radius: 5px;
  }
  
  .rectangle-9 {
    position: absolute;
    top: 247px;
    left: 33px;
    background-color: rgba(214, 243, 245, 1);
    width: 278px;
    height: 61px;
    border-radius: 5px;
  }
  
  .rectangle-12 {
    position: absolute;
    top: 321px;
    left: 33px;
    background-color: rgba(40, 101, 94, 1);
    width: 278px;
    height: 61px;
    border-radius: 10px;
  }
  
  .rectangle-10 {
    position: absolute;
    top: 663px;
    left: 37px;
    background-color: rgba(40, 101, 94, 1);
    width: 278px;
    height: 61px;
    border-radius: 10px;
  }
  
  .rectangle-91 {
    position: absolute;
    top: 54px;
    left: 33px;
    background-color: rgba(214, 243, 245, 1);
    width: 278px;
    height: 61px;
    border-radius: 5px;
  }
  
  .group-7108 {
    position: absolute;
    top: 54px;
    none: 0px;
    width: 283px;
    height: 671px;
  }
  
  .txt-242 {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    width: 275px;
    height: 62px;
    word-wrap: break-word;
    margin-bottom: 7px;
  }
  
  .txt-162 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
    margin-bottom: 13px;
  }
  
  .txt-6710 {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    width: 278px;
    height: 62px;
  } 